

.root-layout {

 /* width: 100%; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items:end;
  justify-content: space-between;
  font-size: 14px;
  background-color: #fff;


  /* color: white; */
}

/* h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: red
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


 /* .root-layout {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  background-color: rgb(229, 215, 215);
}  */